body {
  background-color:  #c4e0c4;
  font-family: 'Nunito';
}

h1 {
  background-color: #5d805c;
  color: white;
  text-align: center;
}

h2 {
  background-color: #5d805c;
  color: white;
  text-align: center;
  width: 250px;
  height: 40px;
  padding-top: 5px;
  border-radius: 16px;
}

h3 {
  text-align: center;
}

.head-container {
  display: flex;
  justify-content: center;
}
.profile-head {
  background-color:  #5d805c;
}
.button-container {
  text-align: center;
}

.form-container {
  margin: 20px 40px;
}

label {
  font-weight: 700;
}

.submit-button {
  margin-top: 10px;
  margin-right: 20px;
  background-color:  #5d805c;
  color: white;
  padding: 5px;
}

.search-container {
  margin: 20px 0;
}

.diet-label {
  margin-left: 61px;
}

.nutrition-label {
  margin-left: 25px;
}
select {
  margin-top: 10px;
}

.search-button {
  background-color:  #5d805c;
  width: 120px;
  height: 30px;
  border-radius: 5px;
  margin-top: 20px;
  color: white;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: white;
}

nav {
  background-color:  #5d805c;
  color: white;
  height: 50px;
  border-radius: 30px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
nav a {
  transition: 1s;
}
nav a:hover {
  transform: scale(1.5, 1.5);
}

img {
  width: 100%;
}

.recipe-button,
.favorite-button,
.unfavorite-button {
  background-color:  #5d805c;
  color: white;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 5px;
}

.column-half a {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}

.recipe-info {
  position: relative;
}

.align {
position: absolute;
bottom: 40px;
left: 0;
right: 0;
text-align: center;
}

.recipe-row,
.favorites-row {
  border: solid white 3px;
}

.recipe-image {
  border-radius: 20px;
}

button {
  border: none;
}

.flex {
  display: flex;
  justify-content: center;
}
